@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Schoolbell&display=swap");

body {
  background-color: rgba(210, 180, 140, 0.5);
  background-image: url("goofyScout.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: 75vh;
  font-weight: 400;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 60px;
}

header {
  display: block;
  text-align: center;
  margin: 15px auto 0 auto;
  padding-bottom: 10px;
}

#text {
  font-family: "Schoolbell", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
#quote-author {
  font-family: "Schoolbell", cursive;
  display: flex;
  justify-content: right;
  font-size: 20px;
}
#quote-box {
  width: 800px;
  padding: 20px 50px;
  margin: 0vh auto auto auto;
  border-radius: 20px;
  background: rgba(44, 130, 201, 0.7);
}
@media (max-width: 1000px) {
  #quote-box {
    width: 90vw;
    height: 30vh;
    margin-bottom: 20vh;
  }
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

@media (max-width: 1000px) {
  #quote-box {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  #text {
    font-size: 70px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  #quote-author {
    font-size: 50px;
    flex-grow: 1;
  }
}
@media (max-width: 1000px) {
  .btn {
    font-size: 30px;
  }
}
